body{
    font-family: "Manrope", sans-serif;
}
.dropdown-content{
    margin-left: -150px;
}
.discuss{
    background-image: url(images/bg.jpg);
    /* background-position: 100%; */
    background-size:cover;
}
